@model InstagramMVC.Models.Bilde

<div class="col">
    <div class="card h-100">
        <a asp-controller="Bilde"
           asp-action="Details"
           asp-route-id="@Model.BildeId">
            <img src="@Model.BildeUrl" class="card-img-top" alt="@Model.Tittel" />
        </a>
        <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model.BildeId" class="btn edit-btn">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.BildeId" class="btn delete-btn">Delete</a>

        </div>
    </div>
</div>
