

<div class="container">
    <div class="notes-container">
        <div class="row">
            @foreach (var note in Model)
            {
                <div class="col-12" style="margin-bottom: 20px;">
                    <a asp-action="Details" asp-route-id="@note.NoteId" class="text-decoration-none">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Title: @note.Tittel</h4>
                                <p class="card-text">@note.Innhold</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Legg til kommentar -->
                <div class="comment-box mt-2">
                    <form id="comment-form-@note.NoteId" data-note-id="@note.NoteId" class="d-flex w-100 comment-form">
                        <input type="hidden" name="NoteId" value="@note.NoteId" />

                        <textarea name="KommentarBeskrivelse" class="form-control" rows="1" placeholder="Skriv din kommentar her..."></textarea>
                        
                        <button type="button" class="btn btn-primary submit-comment">Kommenter</button>
                    </form>
                </div>
                <div>
                    <div>
                        <a asp-action="Update" asp-route-id="@note.NoteId">Update</a>
                        <a asp-action="Delete" asp-route-id="@note.NoteId">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <p>
        <a class="btn create-btn" asp-controller="Notat" asp-action="Create">Create New Note</a>
    </p>
</div>
