@model InstagramMVC.Models.Note

<div class="card mb-4 shadow-sm">

    <a asp-action="Details" asp-route-id="@Model.NoteId" asp-route-source="MyPage" class="text-decoration-none">
        <div class="card-body">
            <h4 class="card-title">@Model.Title</h4>
            <p class="card-text"><small class="text-muted">Written by: @(Model.username?.Contains("@") == true ? Model.username.Split('@')[0] : Model.username)</small></p>
            <p class="card-text">@Model.Content</p>
            <p class="card-text"><small class="text-muted">Uploaded: @Model.UploadDate.ToString("yyyy-MM-dd HH:mm:ss")</small></p>
        </div>
    </a>

    <div class="card-footer bg-light">
        <!-- Rediger og Slett knapper, kun tilgjengelig for eieren -->
        @if (User.Identity?.Name == Model.username)
        {
            <a asp-action="Edit" asp-route-id="@Model.NoteId" class="btn btn-warning btn-sm">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.NoteId" class="btn btn-danger btn-sm">Delete</a>
        }

        <!-- Comments Seksjon -->
        <div class="mt-3">
            <h6>Comments:</h6>
            @await Html.PartialAsync("_CommentTableNote", Model.Comments)
            <!-- Legg til ny comment -->
            <form asp-action="CreateCommentNote" asp-controller="Comment" method="post" class="mt-2">
                <input type="hidden" name="NoteId" value="@Model.NoteId" />
                <div class="form-group">
                    <textarea class="form-control" name="CommentDescription" placeholder="Write comment here..." required></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-sm mt-1">Comment</button>
            </form>
        </div>
    </div>
</div>
