@model InstagramMVC.Models.Note

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.Tittel</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <p>@Model.Innhold</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <p><strong>Created on:</strong> @Model.OpprettetDato.ToString("yyyy-MM-dd")</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <a asp-action="Update" asp-route-id="@Model.NoteId" class="btn edit-btn">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.NoteId" class="btn delete.btn">Delete</a>
        </div>
    </div>
</div>
